.navTop {
  padding-bottom: 0px;
}
.container-fluid{
  background-color: #33162f;
}

.nav{
  align-items: center;
  color: rgb(255, 255, 255);
}
.button{
  padding: 15px;
}
.active {
  color: rgb(160, 38, 38);
}

