
.outside{
  padding-top: 15px;
}

.dogSide {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
  background-color: #7d738b;
  border: 2px solid black;
  border-radius: 4px;
}

.dogInfo {
display: flex;
/* flex-direction: row; */
flex-direction: column;
/* align-items: flex-start; */
padding-top: 40px;
}

.dogButtons {
align-self:auto;
right: .1;
top: 3;

float: right;
}

.responsive {
  border-bottom: 1px solid black;
}

.holdHeart{

    padding-top: 5px;
    padding-left: 320px;

}

.heart {
  background-color: rgb(255, 81, 110);
  border-radius: 20px;
  padding-right: 1.5px;
  padding-top: 1.5px;
}
