<!--
<div class="container">
  <div class="div col-md-12">
    <div class="row dogSide" style="height: 400px">
      <div class="container col-md-5">
        <h2>Inmate #{{ dog.id }}</h2>
        <img  src = "{{dog.imagePath}}">
        <div class="">
        <h1 > {{dog.name}} </h1>
        {{dog.desc}}
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="row dogInfo">

        </div>
        <div class="row dogButtons">
          <div class="col-md-12 ">
            <button> Edit </button>
            <button (click)="onRelease()"> Release </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div >
  <div class="div col-md-12">
    <div class="row dogSide" style="height: 400px">
      <div class="col-md-5">
    <h2>Inmate #{{ dog.id }}</h2>

    <img src = "{{dog.imagePath}}" class="responsive" style="height: 225px; width: 225px">
      </div>
    <div class="col-md-6 ">
      <div class="row dogInfo">
        <h1 > {{dog.name}} </h1>
        <p> {{dog.desc}}</p>

      </div>
      <div class="row dogButtons">
      <div class="col-md-12 ">

        <button> Edit </button>
        <button (click)="onRelease()"> Release </button>
      </div>
      </div>
    </div>

  </div>

  </div>
</div>
