.listOf {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
}

.descOf {
  word-wrap: break;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
