
 .listOf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
  list-style-type: none;
  width: 400px;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 10px;
}

.descOf {
  word-wrap: break;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

/* .list-item {
  list-style-type: none;
} */
