
<body background = "https://images.unsplash.com/photo-1516024693578-e0623769b752?ixlib=rb-1.2.1&raw_url=true&q=60&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHJpc29ufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500"
>
  <section>
    <div>
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </section>
  </body>


<!-- <div class="mainBack">

  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>

</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-intake></app-intake>
    </div>
  </div>
</div> -->

