<!-- <div class="div row">
<div class="col-md-12" >
  <h3 class = "addshelter"><a (click)="addInmate()"> Add to shelter </a></h3>
  <app-list></app-list>
</div>
<div class="row">
<div class="col-md-12">
<router-outlet></router-outlet>
<app-inmate-details></app-inmate-details>
</div>
</div>
</div> -->

  <!-- <div class="container">
    <div class="col-md-5 intakeCol">
      <h1>Shelter Swellers</h1>
      <button> Add Dweller </button>

    <app-list></app-list>

  </div>
</div>
  <div class="col-md-6">
   <router-outlet></router-outlet>
  </div> -->


  <div class="container intakeBack">
    <div class="col-md-5 intakeCol">

      <div class="ic-sticky-frame has-scrollbar">

        <h1 class="sDwell"> Shelter Dwellers </h1>
      <button> Add dweller</button>
      <app-list></app-list>

      </div>
    </div>
    <div class="col-md-7">
     <router-outlet></router-outlet>
    </div>
  </div>
