/* .intakeBack {

  background-color:  #483253;
} */

/* .con1 {
  display: flex;
  justify-content: center;
} */


.intakeCol{
  height: 100%;
  background-color: #f0d1e0;
  border: 5px solid #5f2c51;
  border-radius:  4px;
  /* max-width: 30%;
  overflow: hidden; */
}
.addshelter {
  border-style: ridge;
}

.ic-sticky-frame {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 24px 12px 4.5rem 24px;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
}

.sDwell {

  margin: 0 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}


