/* .intakeBack {

  background-color:  #483253;
} */

/* .con1 {
  display: flex;
  justify-content: center;
} */


.intakeCol{
  height: 100%;
  background-color: #ffb3d6;
  border: 5px solid #c25496;

  border-top: 2px solid rgb(223, 67, 145);
  /* max-width: 30%;
  overflow: hidden; */
}
.addshelter {
  border-style: ridge;
}

.ic-sticky-frame {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 24px 12px 4.5rem 24px;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;

}

/* ::-webkit-scrollbar {
  background: rgb(44, 44, 44);
  border-radius: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(83, 83, 83);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 10px;
} */
/* ::-webkit-scrollbar {
  background: rgb(44, 44, 44);
  border-radius: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(83, 83, 83);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 10px;
} */

.sDwell {

  margin: 0 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}


