
.outside{
  padding-top: 15px;
}

.row {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
  background-color: #7d738b;
  border: 2px solid black;
  border-radius: 4px;
}

.dogInfo {
  padding-top: 60px;
  /* flex-direction: row; */
  flex-direction: column;
  /* align-items: flex-start; */

  }

.close {
    padding-left: 280px;
    transform: scale(1.4);
  }

.inputDesc{
  border-style: none;
  width:100%;
  resize: vertical;
  padding:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}
.paraDesc {
  border-style: none;
  height: 100px;
  width:100%;
  resize: vertical;
  padding:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}

.responsive {
  border-bottom: 1px solid black;
}
.holdDice{
  padding-top: 5px;
  padding-left: 200px;
}
.dice {
  background-color: white;
  border-radius: 5px;
}
