
<div>
  <div class="col-md-12">
    <div class="row" style="height: 400px">
      <div class="col-md-5">
        <h2>Intake Form</h2>
        <img
        src="{{ dog.imagePath }}"
        alt="{{ dog.name }}"
        class="responsive"
        style="height: 225px; width: 225px"
      />
        <div class="holdDice">
        <span  class="material-symbols-outlined dice" (click)="onDiceClick()" style="cursor:pointer">
          casino
        </span>
      </div>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close"  [routerLink]="['/intake']">x</button>

        <form #dogFormRef="ngForm" (ngSubmit)="onFormSubmit(dogFormRef)">


          <div id="dog-data" class="dogInfo">
            <div class="form-group">
              <label for="name"> Name </label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control inputDesc"
                [formControl] = "nameControl"
              />
            </div>
            <div class="form-group">
              <label for="desc"> Description </label>
              <textarea
                type="text"
                id="desc"
                name="desc"
                class="form-control paraDesc"
                style="max-height:175px"
                [formControl] = "descControl">
              </textarea>
            </div>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
